 <!-- Connect-with-Us -->
 <div id="connect">
    <div class="fifth bg-dark text-center" style="min-height: 500px;">
        <div class="details py-5"><h1>Stay Connected</h1></div>
        
        <div class="container px-4 mt-4">
            <div class="row text-center">
                <div class="col-lg text-center">
                    <h3>Cerina Studio</h3>
                    <p>at</p>
                    <h5>KeyPoint Technologies</h5>
                </div>
            </div>
            <div class="row follow text-center px-4 mt-5">
                <h5>Follow us on:</h5>
            </div>
            <div class="row btns text-center px-4 py-3">
                <button class="btn btn-outline-light mx-1" type="button"><i class="fab fa-facebook-square fa-2x"></i></button>
                <button class="btn btn-outline-light mx-1" type="button"><i class="fab fa-instagram fa-2x"></i></button>
                <button class="btn btn-outline-light mx-1" type="button"><i class="fab fa-twitter-square fa-2x"></i></button>
                <button class="btn btn-outline-light mx-1" type="button"><i class="fab fa-linkedin fa-2x"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Bot Integration -->
<script async="" charset="UTF-8" src="https://qa.client.xbotapps.com/webintegration/scripts/c7b15e30-d4b0-4d8a-b9f2-4c7710dfdf11.js" type="text/javascript"></script>

<!-- Footer -->
<footer class="last bg-secondary" style="min-height: 50px;"> 
 <div class="row footer">
        <p class="my-3">@ Copyright 2021 CerinaStudio. All rights reserved</p>
    </div>
</footer>