
 <!-- Contact-Us -->
 <div id="contactus">
    <div class="fourth text-center" style="min-height: 600px; ">
        <div class="contact" style="margin-top:50px;"><h2>Feel free to write to us</h2></div>
        <div class="row comment-box">
            <form class="col-mx-5 my-5 comment-content" name="myform">
                
                <label for="name"></label>
                <input class="form-control form-control-md " id="name" type="text" placeholder="Name">
                <br><br>

                <label for="phone-number"></label>
                <input class="form-control form-control-md" id="email" type="email" placeholder="Enter your E-mail address" size="50">
                <br><br>

                <label for="comment"></label>
                <textarea class="form-control" id="FormControlTextarea" rows="10" placeholder="Comment"></textarea>
                <!-- <input class="form-control form-control-md" id="comment" type="text" placeholder="Comment" > -->
                <br>

            </form>
            <div class="col-mx-5 mb-5 address">
                <div class="container">
                    <h2>KeyPoint Technologies</h2>
                    <br>
                    <h5>Address: Rajaprasaadamu, Kondapur, Hyderabad.</h5>
                    <h5>Contact No. : +91 9876543210</h5>
                </div>
            </div>
        </div>
    </div> 
</div>